/*
 * index文件的样式
 */

body {
	/*min-width: 360px;*/
	/*width: 1360px;*/
	background-color: rgb(235,242,255);
	font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
}

a {
	display: block;
	text-decoration: none;
}

a:link, a:visited{
	color: rgb(137,137,137);
}

a:hover{
	color: rgb(118,118,118);
}

a:active{
	color: rgb(96,96,96);
}

img{
	width: 20px;
}

.outer{
	width: 160px;
	height: 360px;
	font-size: 25px;
	/*border: 1px solid red;*/
	margin: auto;
	position: relative;
	top: 20px;
}

.inner{
	position: relative;
	top: 200px;
	line-height: 36px;
}